@use '../../styles/scss/variables' as *;
@use '../../styles/scss/media' as *;
@use '../../styles/scss/mixin' as *;

.detailBackground {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
  }
}

.detailItemContent {
  position: relative;
  max-width: 1260px;
  margin: auto;
  margin-top: -200px;
  padding: 0 2rem;
  z-index: 10;
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
  @include mobile {
    column-gap: 0;
  }
  .detailPoster {
    flex: 1;
    .detailPosterImg{
      border-radius: 30px;
      max-width: 100%;
      padding-top: 165%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include mobile {
        display: none;
      }
    }
  }

  .info{
    width: 70%;
    margin-bottom: 2rem;

    @include mobile {
      width: 100%;
    }

    .title{
      font-size: 4rem;
      line-height: 1;
    }

    .genres {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem .5rem;
      margin: 1.5rem 0;
      p{
        padding: 0.4rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
      }
    }
  }

  .cast {
    margin-top: 1.5rem;
  }
}

.similar{
  @include container;
  margin-bottom: 2rem;
  padding: 0 2rem;
}