@use '../../styles/scss/media' as *;

.ActorsTitle{
  padding: 8rem 0 2rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
  }

  h2{
    position: relative;
    z-index: 999;
  }
}

.ActorsButton{
  max-width: 1660px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;

  @include mobile {
    padding: 0;
  }

  div {
    display: flex;
    column-gap: 1rem;
    margin: 0 2rem;
    button {
      text-transform: capitalize;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;

      @include mobile {
        padding: .1rem 1.2rem;
      }
    }
  }
}